<div style="position: relative; top: 6em;">
<form class="form-group">
    <div class="container">
        <div class="w-50 m-auto">
            <strong style="font-size: 2em;">Please enter details to proceed</strong>
        </div>
    <div class="w-50 m-auto">
        <label for="name"></label>
        <input  class="form-control" type="text" name="name" [(ngModel)]="name" placeholder="Name">
    </div>
    <div class="w-50 m-auto">
        <label for="contact"></label>
        <input class="form-control" type="text" name="contact" [(ngModel)]="contact" placeholder="Contact">
    </div>
    <div class="w-50 m-auto">
        <label for="email"></label>
        <input  class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Email">
    </div>
    <div class="w-50 m-auto">
        <label for="experience"></label>
        <input  class="form-control" type="text" name="experience" [(ngModel)]="experience" placeholder="Experience">
    </div>
    <div class="w-50 m-auto">
        <label for="qualifications"></label>
        <input  class="form-control" type="text" name="qualifications" [(ngModel)]="qualifications" placeholder="Technology Stacks">
    </div>
    <br>
    <br>
    <div class="w-50 m-auto">
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
</div>